*~
.DS_Store
private/
large_files/
Private-Utils/

Archive.zip

Datasets/26680305.zip
Datasets/24360837/raw_data/HIP_scores.txt

Datasets/24723613/lee_giaever_2014.mat
Datasets/24723613/lee_giaever_2014.txt

__pycache__
*ipynb_checkpoints*
*.pyc
Datasets/32732306/raw_data/File_S3.mat
